<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.smart.dao.ClientServerMapper">
  <resultMap id="BaseResultMap" type="com.wang.smart.entity.ClientServer">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="client_name" jdbcType="VARCHAR" property="clientName" />
    <result column="client_server_name" jdbcType="VARCHAR" property="clientServerName" />
  </resultMap>
</mapper>